# **Aplicación de Clustering**

En este apartado se implementará al menos dos algoritmos de clustering distintos (pudiendo elegir entre K-means, DBSCAN, Agglomerative Clustering, Gaussian Mixture Models, Spectral Clustering, BIRCH, HDBSCAN, etc.), realizando una evaluación exhaustiva mediante múltiples métricas internas (como silueta, Davies-Bouldin, Calinski-Harabasz, etc.), además de proporcionar una interpretación detallada de los clusters obtenidos en el contexto del dominio de aplicación.

In [13]:
#Importar librerias a utilizar
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
# Cargar el dataset
df = pd.read_csv('../dataset/Fintech_Features.csv')

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 403535 entries, 0 to 403534
Data columns (total 28 columns):
 #   Column                                    Non-Null Count   Dtype
---  ------                                    --------------   -----
 0   is_taxpayer                               403535 non-null  int64
 1   lat                                       403535 non-null  float64
 2   long                                      403535 non-null  float64
 3   monto_log                                 403535 non-null  float64
 4   mes                                       403535 non-null  int64
 5   dia_semana                                403535 non-null  int64
 6   hora                                      403535 non-null  int64
 7   antiguedad_dias_comercio                  403535 non-null  int64
 8   tipo_comercio_Natural person              403535 non-null  int64
 9   tipo_comercio_Society                     403535 non-null  int64
 10  tipo_transaccion_CASH                     403535 non-null  int64
 11  tipo_transaccion_LINK                     403535 non-null  int64
 12  tipo_transaccion_LINK-API                 403535 non-null  int64
 13  tipo_transaccion_LINK-MSI                 403535 non-null  int64
 14  tipo_transaccion_POS                      403535 non-null  int64
 15  tipo_transaccion_POS-MSI                  403535 non-null  int64
 16  tipo_transaccion_QR                       403535 non-null  int64
 17  tipo_transaccion_QR-MSI                   403535 non-null  int64
 18  tipo_transaccion_REUSABLE-WITH-AMOUNT     403535 non-null  int64
 19  tipo_transaccion_REUSABLE-WITHOUT-AMOUNT  403535 non-null  int64
 20  tipo_transaccion_SUBSCRIPTION             403535 non-null  int64
 21  card_brand_mastercard                     403535 non-null  int64
 22  card_brand_visa                           403535 non-null  int64
 23  pais_El Salvador                          403535 non-null  int64
 24  pais_Guatemala                            403535 non-null  int64
 25  pais_Panamá                               403535 non-null  int64
 26  area_Inbound                              403535 non-null  int64
 27  area_Outbound                             403535 non-null  int64
dtypes: float64(3), int64(25)
memory usage: 86.2 MB

In [5]:
df.head()

,is_taxpayer,lat,long,monto_log,mes,dia_semana,hora,antiguedad_dias_comercio,tipo_comercio_Natural person,tipo_comercio_Society,...,tipo_transaccion_REUSABLE-WITH-AMOUNT,tipo_transaccion_REUSABLE-WITHOUT-AMOUNT,tipo_transaccion_SUBSCRIPTION,card_brand_mastercard,card_brand_visa,pais_El Salvador,pais_Guatemala,pais_Panamá,area_Inbound,area_Outbound
0,1,8.989382,-79.53676,4.322011,8,4,12,462,0,1,...,0,0,0,1,0,0,0,1,1,0
1,1,8.989382,-79.53676,4.322011,8,4,0,462,0,1,...,0,0,0,0,1,0,0,1,1,0
2,1,8.989382,-79.53676,4.151984,8,4,22,463,0,1,...,0,0,0,0,1,0,0,1,1,0
3,1,8.989382,-79.53676,4.101486,8,4,7,462,0,1,...,0,0,0,0,1,0,0,1,1,0
4,1,8.989382,-79.53676,4.322011,8,4,0,462,0,1,...,0,0,0,0,1,0,0,1,1,0

# ** Clustering con K-Mean**

En este apartado se aplicará técnica de K-Mean para la clusterización al dataset de features obtenido del EDA anterior

# ** Clustering con DBSCAN**

En este apartado se aplicará técnica de K-Mean para la clusterización al dataset de features obtenido del EDA anterior